* {
    margin: 0%; 
    padding: 0%;
    
  
  }
  a {
    color: #000000;
    
  }

  a.textWhite {
    color:#FFFFFF;
    padding: 0%;
}
  
  h2 {
    padding-left: 7%;
    padding-right: 7%;
    line-height: 1;
    padding-top: 0 em;
    padding-bottom: 0 em;
    font-family: franklin-gothic-urw-comp;
    font-size: 60px;

  }

  h2 a {
      text-decoration: none;
    }

  h2 a:hover {
      text-decoration: underline;
    }

  .sub {
    text-align: center;
    font-size: 35px;
  }

  .quote {
    text-align: center;
    font-size: 50px;
    color: white;
  }
    
  #intro p{
    
  padding-left: 7%;
  padding-right: 7%;
  margin-top: 4em;
  font-size: 20px;
  font-family: franklin-gothic-urw;
  }
 
  p{
    
  padding-left: 7%;
  padding-right: 7%;
  font-size: 20px;
  font-family: franklin-gothic-urw;
  }

.social-menu ul{
    position: absolute;
    left: 50%;
    padding: 1em;
    padding-top: 4em;
    margin: 0;
    transform: translate(-50%, -50%);
    display: flex;
}

.social-menu ul li{
    list-style: none;
    margin: 0 15px;
}

.social-menu ul li .fab{
    font-size: 25px;
    line-height: 50px;
    transition: .3s;
    color: #000;
}

.social-menu ul li .fab:hover{
    color: #fff;
}

.social-menu ul li a{
    position: relative;
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #fff;
    text-align: center;
    transition: .6s;
    box-shadow: 0 5px 4px rgba(0,0,0,.5);
}

.social-menu ul li a:hover{
    transform: translate(0, -10%);
}

.social-menu ul li:nth-child(1) a:hover{
    background-color: rgba(0, 0, 0, 0.829);
}
.social-menu ul li:nth-child(2) a:hover{
    background-color: #E4405F;
}
.social-menu ul li:nth-child(3) a:hover{
    background-color: #0077b5;
}
.social-menu ul li:nth-child(4) a:hover{
    background-color: #000;
}

 #era{
    text-align:center;
  }

  .logo{
    font-family: franklin-gothic-urw;
    padding-bottom: 0em;
    margin-bottom: 1em;
    margin-top: 1em;
    padding-top: 2em;
    color: white;
  
   
  }

  .text{
    
    align-self: center;
    width: 70%;
  }

  .textNoPic{
    
    align-self: center;
    margin: auto;
    padding-left: 15%;
    padding-right: 15%;
  }

#intro{
    
    
  color:#f4f4f4;
  }

  .textWhite{
    
    align-self: center;
    padding-left: 15%;
    padding-right: 15%;
    color:#f4f4f4;
  }

.author{
  padding-top:1em;
 text-align: right;
}

.footer{
 margin-bottom: auto;
    
}

img.dom {
  
    align-self: center;
    width: 40%;
    margin-right: 5%;
    border: 5px solid #000000;
    
}

img.center{
  align-self: center;
  width: 50%;
  margin-left: 25%;
  border: 5px solid #000000;
  margin-top: 5%;
  margin-bottom: 2%;
}


img.domLeft {
  
  align-self: center;
  width: 40%;
  margin-left: 5%;
  border: 5 px solid #000000;
  
}

img.domWill {
  margin-top:5%;
  align-self: center;
  width: 30%;
  margin-left: 4%;
  border: 5px solid #000000;
  margin-bottom: 5%;
  
}

  #hor{
    
  
    width: 100%;
    display: block;
    margin: auto;

  }

  #vert{
    display: none;
  }

  
  /* Setting fade transition and default settings */
body {
  color: #000;
  background-color: #333333;
  transition: background-color 0.8s ease;
}


/* panel styles */
.panel {
  /* min height incase content is higher than window height */
  min-height: 75vh;
  display: flex; 
  justify-content: center;
  
  
  
   
  
}


/* colours */
.color-violet {
  background-color: #7A4EAB;
}
.color-indigo {
  background-color: #4332CF;
}
.color-blue {
  background-color: #2F8FED;
}
.color-green {
  background-color: #98FB98;
}
.color-yellow {
  background-color: #F5BE6A;
}
.color-orange {
  background-color: #F19031;
}
.color-red {
  background-color: #e0474c;
}
.color-peach{
  background-color: #FFE5B4;
}
.color-black{
  background-color: #333333;
}

.color-fbBlue{
  background-color: #3b5998;
}

.color-mint{
  background-color:#3eb489;
}

.color-pink{
  background-color:#FFC0CB;
}

.color-white{
  background-color:#f9f1f1;
}

.color-paleblue{
  background-color:#99ccff;
}

.color-lilac{
  background-color: #c8a2c8;
}
.color-cadetBlue{
background-color: #5F9EA0;
  
}

.color-lightgrey{
background-color: #eeeeee;
}
.color-midgrey{
background-color: #aaaaaa;
}

.color-darkgrey{
background-color: #848484;
}





@media screen and (max-width: 800px) {

   #vert{
    width: 100%;
    display: block;
    margin: auto;

  }

  #hor{
    display: none;
  }

  .panel {
    /* min height incase content is higher than window height */
    min-height: 75vh;
    display: flex; 
    justify-content: center;
    flex-direction: column;

    
    
    
     
    /* turn above on to see the edge of panels */
  }
  img.dom {
    align-self: center;
    width:80%;
    
    margin-right: 0%;
    
    margin-bottom: 10%;
    
    
}

img.domLeft {
  align-self: center;
  width:80%;

  margin-left: 0%;
  
  margin-bottom: 10%;
}

  img.domWill {
  align-self: center;
  width:80%;

  margin-left: 0%;
  
  margin-bottom: 10%;

    
  
}


.text{
    
  align-self: center;
  padding-bottom: 10%;
  order:1;
  width: 100%;
  
}

.textNoPic{
  
  align-self: center;
  margin: auto;
  padding-bottom: 10%;
  order:1;
  width: 100%;
  padding-left: 0%;
  padding-right: 0%;
 
}

  #intro{
  
  
  color:#f4f4f4;
 
 
}

.textWhite{
  
  align-self: center;
  padding-bottom: 10%;
  color:#f4f4f4;
  order:1;
  width: 100%;
  
}
  
h2{
  font-size: 45px;
}

}

#era{
  text-align: center;
  font-display: bold;
  font-size: 3em;
  font-style: italic;
  margin-bottom: 0%;
  margin-top: 5%;
}